@inject IHttpContextAccessor httpContextAccessor
@{
    ViewData["Title"] = "Home page";
}

@if(httpContextAccessor.HttpContext.Session.GetString(MiniTwit.Authentication.AuthUsername) != null) 
    {
        <div class="followstatus">
            
            @if((int)ViewData["timelineof"] == (int)ViewData["user"]){
              <div>This is you!</div>
            }
            else if((bool)ViewData["followed"]){
                <div>You are currently following this user.</div>
                <a class="unfollow" asp-action="Unfollow" asp-route-username=@ViewData["timelineofUsername"]>Unfollow user</a>
            }
            else {
                <div>You are not yet following this user.</div>
                @*<button type="submit" asp-page="@Model.Username/follow">Follow User</button>*@
                <a class="follow" asp-action="Follow" asp-route-username=@ViewData["timelineofUsername"]>Follow user</a>
            }
        </div>
    }

@await Component.InvokeAsync("Messages", ViewData["twits"])
